<section>
    <div class="container">
        <div class="contactInfo"> 
            <div>
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><img src="../../../assets/images/location.png"></span>
                        <span>Bengalore, Karnataka<br>
                            560109<br>
                            </span>
                    </li>
                    <li>
                        <span><img src="../../../assets/images/mail.png"></span>
                        <span><a href="mailto: techmakersinc@gmail.com">TechMakersInc</a></span>
                    </li>
                    <li>
                        <span><img src="../../../assets/images/call.png"></span>
                        <span>9741394318</span>
                    </li>
                </ul>
            </div>
            <ul class="sci">
                <li><a href="https://www.facebook.com/nassosanagn/"><img src="../../../assets/images/1.png"></a></li>
                <li><a href="https://www.instagram.com/nassosanagn_/?hl=el"><img src="../../../assets/images/3.png"></a></li>
                <li><a href="https://twitter.com/nassosanagn"><img src="../../../assets/images/2.png"></a></li>
                <li><a href="https://www.linkedin.com/in/nassos-anagnostopoulos-2b9631196/"><img src="../../../assets/images/5.png"></a></li>
            </ul>
        </div>
        <div class="contactForm">
            <h2>Send a Message</h2>
            <form (ngSubmit)="onSubmit()">
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="email" id="email" name="email" [(ngModel)]="email" required>
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" id="mobileNumber" name="mobileNumber" [(ngModel)]="mobileNumber" required>
                        <span>Mobile Number</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea id="message" name="message" [(ngModel)]="message" required></textarea>
                        <span>Write your message here...</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </form>
        </div> 
    </div> 
</section>

