    <section class="about-us-container">
      <div class="about">
        <img src="../../../assets/images/Vision.jpg" class="pic" />
        <div class="text">
          <h3>About <span>US</span></h3>
          <h5>Transforming Ideas into <span>Digital Excellence</span></h5>
          <p>Welcome to TMI, where innovation meets excellence in digital solutions. We are a dedicated team of professionals committed to helping our clients achieve their business goals through cutting-edge technology and exceptional service. Our expertise spans across a variety of domains, ensuring that we can cater to all your digital needs.</p>
          <div class="data">
            <a href="#" class="contact">Contact Us</a>
          </div>
        </div>
      </div>
  
      <div class="about">
        <img src="../../../assets/images/campaign-creators---kQ4tBklJI-unsplash.jpg" class="pic2" />
        <div class="text2">
          <h3>Our <span>Process</span></h3>
          <h5>Transforming Ideas into <span>Digital Excellence</span></h5>
          <p><strong>Consultation:</strong> We begin by understanding your business...</p>
          <div class="data">
            <a href="#" class="contact">Contact Us</a>
          </div>
        </div>
      </div>
    </section>
 
