@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.about-us-container {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start;
  gap: 20px; 
  flex-wrap: wrap; 
  padding: 40px 20px; 
  background: #000;
}
.pic, .pic1, .pic2 {
  height: 300px; 
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px; 
}
  .about {
    width: 30%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  .text, .text1, .text2 {
    text-align: justify;
  }
  
.text h3,.text1 h3,.text2 h3 {
  color: #F5F5DC;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5, .text1 h5, .text2 h5 {
  color: #F5F5DC;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span {
  color: #c29b1e;
}
.text p, .text1 p,.text2 p {
  color: #F5F5DC;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
}
.data {
  margin-top: 30px;
}
.contact {
  font-size: 18px;
  background: #c29b1e;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
  font-weight: bold;
}
.contact:hover {
  background: #886b09;
}

.arrow {
  width: 30px;
  height: 30px;
  background: #4070f4;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.about:hover .text, .about:hover .text1, .about:hover .text2  {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}
