<div class="responsive-container-block outer-container" style="background: linear-gradient(135deg, #0f2027 0%, #203a43 100%)">
    <div class="responsive-container-block inner-container">
      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-4 wk-ipadp-5 content-container">
        <div class="content-box">
          <p class="text-blk section-head">
            Our Team
          </p>
          <p class="text-blk section-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat c
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitati quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-8 team-cards-outer-container">
        <div class="responsive-container-block team-cards-inner-container">
          <div class="responsive-cell-block wk-mobile-12 wk-ipadp-10 wk-tab-8 wk-desk-6 card-container">
            <div class="card">
              <div class="img-box">
                <img class="person-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/person1.png">
              </div>
              <div class="card-content-box">
                <p class="text-blk person-name">
                  Nairobi Nora
                </p>
                <p class="text-blk person-info">
                  Lorem ipsum dolor
                </p>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-mobile-12 wk-ipadp-10 wk-tab-8 wk-desk-6 card-container">
            <div class="card">
              <div class="img-box">
                <img class="person-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/person2.png">
              </div>
              <div class="card-content-box">
                <p class="text-blk person-name">
                  Nairobi Nora
                </p>
                <p class="text-blk person-info">
                  Lorem ipsum dolor
                </p>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-mobile-12 wk-ipadp-10 wk-tab-8 wk-desk-6 card-container">
            <div class="card">
              <div class="img-box">
                <img class="person-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/person3.png">
              </div>
              <div class="card-content-box">
                <p class="text-blk person-name">
                  Nairobi Nora
                </p>
                <p class="text-blk person-info">
                  Lorem ipsum dolor
                </p>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-mobile-12 wk-ipadp-10 wk-tab-8 wk-desk-6 card-container">
            <div class="card">
              <div class="img-box">
                <img class="person-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/person4.png">
              </div>
              <div class="card-content-box">
                <p class="text-blk person-name">
                  Nairobi Nora
                </p>
                <p class="text-blk person-info">
                  Lorem ipsum dolor
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>